@page
@model PinkCross.Pages.DonorProfiles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1> Donor Profiles </h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        <select asp-for="Donornric" asp-items="Model.Donornrics">
            <option value="">All</option>
        </select>
        Name : <input type="text" asp-for="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.DonorProfile[0].DonorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonorProfile[0].Donornric)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonorProfile[0].CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonorProfile[0].DonorNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonorProfile[0].DonorAddress)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DonorProfile) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Donornric)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonorNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonorAddress)
            </td>

            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a> |
                <a asp-page="./Archive" asp-route-id="@item.ID">Archive</a>
                <button id="download-csvbutton" type="submit" class="btn btn-primary">EXPORT CSV</button>
           
            </td>
        </tr>
}
    </tbody>
</table>
