@page
@model PinkCross.Pages.DonationRecords.IndexModel

@{
    ViewData["Title"] = "Index";
}

    <h1>Donation Record</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        <select asp-for="DonorType" asp-items="Model.DonorTypes">
            <option value="">All</option>
        </select>
        Name : <input type="text" asp-for="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DonationRecord[0].DateOfDonation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationRecord[0].ModeOfDonation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationRecord[0].DonationAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationRecord[0].PurposeOfDonation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationRecord[0].DonorType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationRecord[0].CompanyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DonationRecord) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfDonation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeOfDonation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurposeOfDonation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonorType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
